<!DOCTYPE html>
<html lang="en">
{{ template "partials/head.html" . }}
  <body>
  {{ template "partials/navbar.html" . }}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>"Tan-awa"</h1>
        <p>{{ .Site.Params.Description }}</p>
        <p><a href="/page/about" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h2><i class="fa fa-check-circle-o fa-fw"></i> Features</h2></div>
            <div class="panel-body">
                <ul>
                <li>Children management</li>
                <li>Donor management</li>
                <li>and more to come...</li>
                </ul>
                <a href="/page/features" class="btn btn-default">Learn More</a>
            </div>
          </div>
       </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h2><i class="fa fa-download fa-fw"></i> Download</h2></div>
            <div class="panel-body">
                <p>Still in heavy development...</p>
                <a href="https://bitbucket.org/tanawa/tanawa-main" class="btn btn-default">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h2><i class="fa fa-at fa-fw"></i> Docs</h2></div>
            <div class="panel-body">
                <p>Getting Started, User Manual, Developer Docs and more.</p>
                <a href="/page/docs" class="btn btn-default">Learn More</a>
            </div>
          </div>
        </div>
      </div>

{{ template "partials/footer.html" . }}
    </div> <!-- /container -->

{{ template "partials/js.html" . }}
  </body>
</html>
