<hr>
<footer>
  <p>&copy; Tanawa 2014 &ndash; <i>made with love <i class="fa fa-heart"></i> and <a href="http://gohugo.io/" title="Hugo :: A fast and modern static website engine">Hugo</a></i></p>
</footer>