  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Title }} - {{ .Site.Params.Description }}">
    <meta name="author" content="Tanawa">

    <title>{{ .Site.Title }} - {{ .Site.Params.Description }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ .Site.BaseUrl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseUrl }}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseUrl }}/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>