<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a>
    </div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	  {{ range .Site.Menus.main }}
	    <li><a href="{{.Url}}"> {{ .Name }} </a></li>
	  {{end}}
	  </ul>
	</div>
  </div>
</div>