/*
 * Main styles for Tanawa.
 * http://tanawa.bitbucket.org/
 * @since 2014
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}

/* form styles */
.ng-invalid.ng-dirty {
	border-color: red
}

.ng-valid.ng-dirty {
	border-color: green
}

h1.page-header {
	margin-top: 24px;
}

.dropdown-menu {
	min-width: inherit;
}

.dropdown-menu > li {
    width: 99%;
}

canvas, img {
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}