@(elements: helper.FieldElements)
<div class="form-group @if(elements.hasErrors) {has-error}">
    <label for="@elements.id" class="control-label">@elements.label(elements.lang)</label>
    @elements.input
    <span class="help-block errors @elements.id">@elements.errors(elements.lang).mkString(", ")</span>
    <p class="help-block">@elements.infos(elements.lang).mkString(", ")</p>
</div>