@**
* Generates the ui-bootstrap datepicker field.
* It is dependent on a AngularJS controller named 'formCtrl' with needed properties and methods.
*
* @param field The form field
* @param args Set of extra attributes.
* @param handler The field constructor.
* 
* @see https://angular-ui.github.io/bootstrap/#/datepicker
*@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang)

@input(field, args:_*) { (id, name, value, htmlArgs) =>
	<p class="input-group">
		<input id="@id" type="text" name="@name" ng-init="formCtrl.setDateFormat('yyyy-MM-dd'); formCtrl.setInitialDateByString('@value')" ng-model="formCtrl.selectedDate" datepicker-popup="yyyy-MM-dd" is-open="formCtrl.calendarOpened" max-date="formCtrl.currentDate" show-button-bar="false" @toHtmlArgs(htmlArgs) />
		<span class="input-group-btn">
		  <button type="button" class="btn btn-default" ng-click="formCtrl.openCalendarPopup($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		</span>
	</p>
}