@()(implicit flash: Flash, lang: Lang)
<div class="alert alert-danger alert-dismissable" style="display: none">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button><strong>@Messages("error")</strong><br/>
    <span class="message-text">@Messages("form.error")</span>
</div>
<div class="alert alert-success alert-dismissable" style="display: none">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button><strong>@Messages("successful")</strong><br/>
    <span class="message-text"></span> &ndash; <a class="alert-success item-link" href="#" title="@Messages("form.viewitem")"><strong>@Messages("form.viewitem")</strong></a>
</div>