@()(implicit flash: Flash, lang: Lang)
@if(flash.get("error").isDefined) {
    <div class="alert alert-danger alert-dismissable">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button><strong>@Messages("error")</strong><br/>@flash.get("error")
    </div>
}
@if(flash.get("success").isDefined) {
    <div class="alert alert-success alert-dismissable">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button><strong>@Messages("successful")</strong><br/>@flash.get("success")
    </div>
}