@()(implicit flash: Flash, lang: Lang)
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="@routes.Application.index()">Tanawa <small>@play.api.Play.current.configuration.getString("app.version")</small></a>
</div>