@()(implicit flash: Flash, lang: Lang)
<ul class="nav navbar-top-links navbar-right">
    <li class="lang-switch"><a href="@routes.UserProfile.changeLocale()?locale=en">EN</a></li>
    <li class="lang-switch"><a href="@routes.UserProfile.changeLocale()?locale=de">DE</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" role="menu">
            <li> <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a> </li>
            <li> <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a> </li>
            <li class="divider"></li>
            <li> <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a> </li>
        </ul>
    </li>
</ul>