@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav" id="side-menu">
            <li> <a href="@routes.Application.index()"><i class="fa fa-home fa-fw"></i> @Messages("app.home")</a> </li>
            <li class="@if(request.path.startsWith(routes.Donors.list().url)) { active }">
                <a href="#"><i class="fa fa-users fa-fw"></i> @Messages("donors") <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="@routes.Donors.listView()">@Messages("donors.list")</a> </li>
                    <li><a href="@routes.Donors.createView()">@Messages("donors.create")</a> </li>
                </ul>
            </li>
            <li class="@if(request.path.startsWith(routes.Godchildren.list().url)) { active }">
                <a href="#"><i class="fa fa-users fa-fw"></i> @Messages("godchildren") <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="@routes.Godchildren.listView()">@Messages("godchildren.list")</a></li>
                    <li><a href="@routes.Godchildren.createView()">@Messages("godchildren.create")</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>