body {
	padding-top: 50px;
	padding-bottom: 20px;
}

h1.page-single {
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 3px dashed #375a7f;
}

h2 {
	margin-top: 30px;
}

.panel-heading h2 {
	margin-top: 8px;
}

.container.page-single {
	margin-top: 1.5em;
}

hr {
	margin-bottom: 6px;
}