@(profile : org.pac4j.core.profile.CommonProfile)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@main {
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome!</h1>
            <p>Logged in as: @profile.getUsername</p>
        </div>
    </div>
</div>
}