@(donorForm: Form[Donor], donor: Donor)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@import helper._
@implicitField = @{ helper.FieldConstructor(bootstrapFieldConstructor.f) }

@moduleLayout {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Messages("donors.create")</h1>
        </div>
    </div>
    @helper.form(action = routes.Donors.save(), 'role -> "form") {
	    <div class="row" data-ng-controller="DonorFormController as formCtrl" data-ng-init="formCtrl.initList()">
            @flashMessages()
            <div class="col-lg-4">
                <fieldset>
                <legend>@Messages("form.contactdetails")</legend>
                @donorFormFields(donorForm)
                </fieldset>
            </div>
            <div class="col-lg-4">
                <fieldset>
                <legend>@Messages("form.addressdetails")</legend>
                @donorAddressFormFields(donorForm, donor)
                </fieldset>
            </div>
            <div class="col-lg-4">
                <fieldset>
                <legend>@Messages("form.additionaldetails")</legend>
                @helper.textarea(donorForm("notes"), 'class -> "form-control")
                </fieldset>
            </div>
	    </div>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages("misc.save")</button>
    }
}