@(donor: Donor)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@moduleLayout {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Messages("donors.detail")</h1>
        </div>
    </div>
       <div class="row">
           <div class="col-lg-6">
               <div class="panel panel-default">
                   <div class="panel-heading">Personal data <a href="@routes.Donors.editView(donor.getNodeId())"><button class="btn btn-default btn-xs pull-right" type="button">Edit...</button></a></div>
                   <div class="panel-body">
                       <h4>Title</h4>
                       <p>@if(donor.getTitle() == null) { &ndash; } else { @donor.getTitle() }</p>
                       <h4>Name</h4>
                       <p>@donor.getFirstName() @donor.getMiddleName() @donor.getLastName()</p>
                       <h4>Address</h4>
                       @if(donor.getAddress() == null) { &ndash; } else { 
                           <p>@donor.getAddress().getAddressStreet()<br/>
                           @donor.getAddress().getPostalCode() @if(donor.getAddress().getCity() == null) { &ndash; } else { @donor.getAddress().getCity().getName() }<br/>
                           @donor.getAddress().getProvince()<br/>
                           @if(donor.getAddress().getCountry() == null) { &ndash; } else { @donor.getAddress().getCountry().getName() }</p>   
                       }
                       <h4>Email</h4>
                       <a href="mailto:@donor.getEmail()">@donor.getEmail()</a>
                       <h4>Notes</h4>
                       <p>@if(donor.getNotes() == null)  { &ndash; } else { @donor.getNotes() }</p>
                   </div>
               </div>
           </div>
           <div class="col-lg-6">
               <div class="panel panel-default" data-ng-controller="DonorController as donorCtrl" data-ng-init="donorCtrl.getById('@donor.getNodeId()'); donorCtrl.initGodchildrenWithoutDonorList('@routes.Godchildren.withoutDonor()')">
                   <div class="panel-heading">Supported children</div>
                   <div class="panel-body">
                       <p ng-cloak ng-show="donorCtrl.donor.godchildren.length < 1">
                       <strong>@Messages("donors.noSupportedChildren")</strong>
                       </p>
                       <div class="table-responsive" ng-cloak ng-show="donorCtrl.donor.godchildren.length">
                           <table class="table table-hover">
                               <thead>
                                   <tr>
                                       <th>#</th>
                                       <th>@Messages("firstName")</th>
                                       <th>@Messages("middleName")</th>
                                       <th>@Messages("lastName")</th>
                                       <th>Actions</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr ng-repeat="godchild in donorCtrl.donor.godchildren">
                                       <td>{{godchild.nodeId}}</td>
                                       <td><a href="#">{{godchild.firstName}}</a></td>
                                       <td>{{godchild.middleName}}</td>
                                       <td>{{godchild.lastName}}</td>
                                       <td><button data-ng-click="donorCtrl.endSupport(godchild.nodeId)" class="btn btn-outline btn-primary btn-xs" type="button">End support</button></td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                       <div class="row">
                          <form role="form">
						      <div class="col-lg-8">
						          <div class="form-group">
						              <ui-select ng-model="donorCtrl.godchild.selected" theme="bootstrap">
						                <ui-select-match placeholder="Select or search a child in the list...">{{$select.selected.firstName}} {{$select.selected.lastName}}</ui-select-match>
						                <ui-select-choices repeat="item in donorCtrl.godchildrenWithoutDonorList | filter: $select.search">
						                <div ng-bind-html="item.firstName | highlight: $select.search"></div>
						                <small ng-bind-html="item.lastName | highlight: $select.search"></small>
						                </ui-select-choices>
						              </ui-select>
						          </div>
						      </div>
						      <div class="col-lg-2 col-sm-2">
						        <button data-ng-click="donorCtrl.supportGodchild()" type="submit" class="btn btn-primary">Add Support</button>
						      </div>
						  </form>
					   </div>
                   </div>
               </div>
           </div>
       </div>
}