@(donorForm: Form[Donor], donor: Donor)(implicit flash: Flash, lang: Lang)
@import helper._
@implicitField = @{ helper.FieldConstructor(bootstrapFieldConstructor.f) }

@helper.inputText(donorForm("address.addressStreet"), 'class -> "form-control")
@helper.inputText(donorForm("address.postalCode"), 'class -> "form-control")
@inputHidden(donorForm("address.city.nodeId"))
@helper.inputText(donorForm("address.city.name"), 'class -> "form-control")
@helper.inputText(donorForm("address.province"), 'class -> "form-control")
@inputHidden(donorForm("address.country.nodeId"))
<div class="form-group">
    <label for="@donorForm("address.country.name").id" class="control-label">@Messages("address.country.name")</label>
	<ui-select ng-model="formCtrl.country.selected" theme="bootstrap" on-select="formCtrl.onSelectCountry($item, $model)">
	  <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
	  <ui-select-choices repeat="item in formCtrl.countryList | filter: $select.search">
	  <div ng-bind-html="item.name | highlight: $select.search"></div>
	  </ui-select-choices>
	</ui-select>
</div>