@(donorForm: Form[Donor], donor: Donor)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@import helper._
@implicitField = @{ helper.FieldConstructor(bootstrapFieldConstructor.f) }

@moduleLayout {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Messages("donors.edit")</h1>
        </div>
    </div>
    @helper.form(action = routes.Donors.update(donor.getNodeId), 'role -> "form") {
        <div class="row" data-ng-controller="DonorFormController as formCtrl" data-ng-init="formCtrl.setCountryId(@donorForm("address.country.nodeId").value); formCtrl.initList()">
            @flashMessages()
	        <div class="col-lg-4">
		        <fieldset>
		        <legend>@Messages("form.contactdetails")</legend>
		        @donorFormFields(donorForm)
		        </fieldset>
	        </div>
	        <div class="col-lg-4">
		        <fieldset>
	            <legend>@Messages("form.addressdetails")</legend>
	            @if(donor.getAddress == null) { <input type="hidden" id="address_nodeId" name="address.nodeId" value=""> } else { @inputHidden(donorForm("address.nodeId")) }
		        @donorAddressFormFields(donorForm, donor)
		        </fieldset>
	        </div>
            <div class="col-lg-4">
                <fieldset>
                <legend>@Messages("form.additionaldetails")</legend>
                @helper.textarea(donorForm("notes"), 'class -> "form-control", 'rows -> "8")
                </fieldset>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages("misc.save")</button>
    }
}