@(pathToList: String)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@moduleLayout {
    <div class="donor-list-section" data-ng-controller="DonorController as donorCtrl" data-ng-init="donorCtrl.initDefaultList('@pathToList')">
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">@Messages("donors.list")</h1>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-3">
	            <form role="form">
	                <div class="form-group">
	                    <label>Search for:</label>
	                    <input class="form-control" placeholder="@Messages("donors.find")" ng-model="query" ng-change="donorCtrl.searchInList(query, '@pathToList')">
	                </div>
	            </form>
	        </div>
            <div class="col-lg-6">
	            <label>OR show Donors:</label><br/>
	            <button data-ng-click="donorCtrl.resetList('@pathToList')" class="btn btn-outline btn-primary btn-xs" type="button">All/Reset</button>
	            <button data-ng-click="donorCtrl.resetList('@routes.Donors.withoutGodchild()')" class="btn btn-outline btn-primary btn-xs" type="button">without Children</button>
            </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-12">
	            <div data-ng-show="donorCtrl.isLoading" class="loading-icon"><img src="/assets/images/loading-icon.gif"/> Loading data... </div>
	            <div class="table-responsive" data-ng-cloak ng-show="donorCtrl.list.length">
	                <table class="table table-hover">
	                    <thead>
	                        <tr>
	                            <th>#</th>
	                            <th>@Messages("title")</th>
	                            <th>@Messages("firstName")</th>
	                            <th>@Messages("middleName")</th>
	                            <th>@Messages("lastName")</th>
	                            <th>@Messages("email")</th>
	                            <th>Actions</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr data-ng-repeat="donor in donorCtrl.list">
	                            <td>{{donor.nodeId}}</td>
	                            <td>{{donor.title}}</td>
	                            <td><a href="{{donorCtrl.detailPath(donor.nodeId)}}">{{donor.firstName}}</a></td>
	                            <td>{{donor.middleName}}</td>
	                            <td>{{donor.lastName}}</td>
	                            <td><a href="mailto:{{donor.email}}">{{donor.email}}</a></td>
	                            <td>
									<div class="btn-group">
									  <button type="button" class="btn btn-outline btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">...</button>
									  <ul class="dropdown-menu" role="menu">
									    <li><a href="{{donorCtrl.detailPath(donor.nodeId)}}">@Messages("misc.detail")</a></li>
									    <li><a href="javascript:void(0)" data-ng-click="donorCtrl.confirmDeletion(donor.nodeId)">@Messages("misc.delete")</a></li>
									  </ul>
									</div>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
		<div class="modal fade" id="deleteItemModalDialog" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalDialog" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">@Messages("misc.dialogs.deleteTitle")</h4>
		      </div>
		      <div class="modal-body">
		      <p>@Messages("misc.dialogs.deleteText")</p>
		      <p><strong>@Messages("misc.dialogs.deleteTextHintTitle")</strong> @Messages("misc.dialogs.deleteTextHint")</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		        <button data-ng-click="donorCtrl.deleteSelectedDonor()" type="button" class="btn btn-danger">Yes, delete</button>
		      </div>
		    </div>
		  </div>
		</div>
    </div>
}