<!DOCTYPE html>
<html lang="en">
{{ template "partials/head.html" . }}
  <body>
  {{ template "partials/navbar.html" . }}

<div class="container page-single">
<h1 class="page-single">{{ .Title }}</h1>
{{ .Content }}
{{ template "partials/footer.html" . }}
</div>

{{ template "partials/js.html" . }}
  </body>
</html>
