@(godchild: Godchild)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@moduleLayout {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Messages("misc.detailview"): @godchild.getFirstName() @godchild.getLastName()</h1>
        </div>
    </div>
       <div class="row">
           <div class="col-lg-4">
            <img title="profile image" src="@routes.Godchildren.readProfileImage(godchild.getNodeId())" style="width: 350px" />
           </div>
           <div class="col-lg-6">
               <div class="panel panel-default">
                   <div class="panel-heading">@Messages("form.contactdetails") <a href="@routes.Godchildren.editView(godchild.getNodeId())"><button class="btn btn-default btn-xs pull-right" type="button">Edit...</button></a></div>
                   <div class="panel-body">
	                   <div class="row">
	                       <div class="col-lg-3">
	                        <strong>Name</strong>
	                       </div>
	                       <div class="col-lg-6">@godchild.getFirstName() @godchild.getMiddleName() @godchild.getLastName()</div>
	                   </div>
                       <div class="row">
                           <div class="col-lg-3">
                            <strong>@Messages("sex")</strong>
                           </div>
                           <div class="col-lg-6">@if(godchild.getSex() == "male") { @Messages("sex.male") } @if(godchild.getSex() == "female") { @Messages("sex.female") }</div>
                       </div>
	                   <div class="row">
	                       <div class="col-lg-3">
	                        <strong>@Messages("yearBorn")</strong>
	                       </div>
	                       <div class="col-lg-6">@if(godchild.getYearBorn() == 0) { &ndash; } else { @godchild.getYearBorn() }</div>
	                   </div>
	                   <div class="row">
	                       <div class="col-lg-3">
	                        <strong>@Messages("dateBorn")</strong>
	                       </div>
	                       <div class="col-lg-6">@if(godchild.getDateBorn() == null) { &ndash; } else { @godchild.getDateBorn().format("yyyy-MM-dd") }</div>
	                   </div>
                   </div>
               </div>
               <div class="panel panel-default">
                   <div class="panel-heading">@Messages("form.parentsdetails")</div>
                   <div class="panel-body">
	                   <div class="row">
	                       <div class="col-lg-4">
	                        <strong>@Messages("fatherFirstName")</strong>
	                       </div>
	                       <div class="col-lg-6">@godchild.getFatherFirstName()</div>
	                   </div>
                       <div class="row">
                           <div class="col-lg-4">
                            <strong>@Messages("fatherLastName")</strong>
                           </div>
                           <div class="col-lg-6">@godchild.getFatherLastName()</div>
                       </div>
                       <div class="row" style="margin-bottom: 8px;">
                           <div class="col-lg-4">
                            <strong>@Messages("fatherOccupation")</strong>
                           </div>
                           <div class="col-lg-6">@godchild.getFatherOccupation()</div>
                       </div>
	                   <div class="row">
	                       <div class="col-lg-4">
	                        <strong>@Messages("motherFirstName")</strong>
	                       </div>
	                       <div class="col-lg-6">@godchild.getMotherFirstName()</div>
	                   </div>
                       <div class="row">
                           <div class="col-lg-4">
                            <strong>@Messages("motherLastName")</strong>
                           </div>
                           <div class="col-lg-6">@godchild.getMotherLastName()</div>
                       </div>
	                   <div class="row">
	                       <div class="col-lg-4">
	                        <strong>@Messages("motherOccupation")</strong>
	                       </div>
	                       <div class="col-lg-6">@godchild.getMotherOccupation()</div>
	                   </div>
                   </div>
               </div>
           </div>
       </div>
}