@(godchildForm: Form[Godchild], nodeId: Long)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@import helper._
@implicitField = @{ helper.FieldConstructor(bootstrapFieldConstructor.f) }

@moduleLayout {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@Messages("godchildren.edit"): <span class="child-name">@godchildForm("firstName").value @godchildForm("lastName").value</span></h1>
        </div>
    </div>
    @helper.form(action = routes.Godchildren.update(nodeId), 'id -> "godchildForm", 'role -> "form", 'enctype -> "multipart/form-data") {
      <div class="row" data-ng-controller="GodchildFormController as formCtrl">
          <div data-ng-show="formCtrl.isSubmitting" class="ng-cloak loading-icon"><img src="/assets/images/loading-icon.gif"/> @Messages("form.submitting")</div>
          @flashMessagesAjax()
          <div class="col-lg-4">
              <fieldset>
              <legend>@Messages("form.profileimagelegend")</legend>
                  <div class="form-group">
                      <div tnwa-image-crop-input
                          dest-image-width="800"
                          dest-image-height="933"
                          crop-box-width="350"
                          max-filesize="3200"
                          default-image-url="@routes.Godchildren.readProfileImage(nodeId)"></div>
                  </div>
              </fieldset>
          </div>
          <div class="col-lg-4">
              <fieldset>
              <legend>@Messages("form.contactdetails")</legend>
                  @formFields(godchildForm)
              </fieldset>
          </div>
          <div class="col-lg-4">
            @parentsFormFields(godchildForm)
          </div>
      <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="formCtrl.sendFormData()">@Messages("misc.save")</button>
      </div>
    }
}