@(pathToList: String)(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@moduleLayout {
    <div class="donor-list-section" data-ng-controller="GodchildController as godchildren" data-ng-init="godchildren.initDefaultList('@pathToList')">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@Messages("godchildren.list")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <form role="form">
                    <div class="form-group">
                        <label>Search for:</label>
                        <input class="form-control" placeholder="@Messages("godchildren.find")" ng-model="query" ng-change="godchildren.searchInList(query, '@pathToList')">
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <label>OR show Godchildren:</label><br/>
                <button data-ng-click="godchildren.resetList('@pathToList')" class="btn btn-outline btn-primary btn-xs" type="button">All/Reset</button>
                <button data-ng-click="godchildren.resetList('@routes.Godchildren.withoutDonor()')" class="btn btn-outline btn-primary btn-xs" type="button">without Donor</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div data-ng-show="godchildren.isLoading" class="loading-icon"><img src="/assets/images/loading-icon.gif"/> Loading data... </div>
                <div class="table-responsive" data-ng-cloak ng-show="godchildren.list.length">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Messages("firstName")</th>
                                <th>@Messages("middleName")</th>
                                <th>@Messages("lastName")</th>
                                <th>@Messages("yearBorn")</th>
                                <th>@Messages("dateBorn")</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="godchild in godchildren.list">
                                <td>{{godchild.nodeId}}</td>
                                <td><a href="{{godchildren.detailPath(godchild.nodeId)}}">{{godchild.firstName}}</a></td>
                                <td>{{godchild.middleName}}</td>
                                <td>{{godchild.lastName}}</td>
                                <td>{{godchild.yearBorn == 0 ? "&ndash;" : godchild.yearBorn}}</td>
                                <td>{{godchild.dateBorn == null ? "&ndash;" : godchild.dateBorn | date}}</td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-outline btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">...</button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{godchildren.detailPath(godchild.nodeId)}}">@Messages("misc.detail")</a></li>
                                        <li><a href="{{godchildren.editPath(godchild.nodeId)}}">@Messages("misc.edit")</a></li>
                                        <li><a href="javascript:void(0)" data-ng-click="godchildren.confirmDeletion(godchild.nodeId)">@Messages("misc.delete")</a></li>
                                      </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteItemModalDialog" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalDialog" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages("misc.dialogs.deleteTitle")</h4>
              </div>
              <div class="modal-body">
              <p>@Messages("misc.dialogs.deleteText")</p>
              <p><strong>@Messages("misc.dialogs.deleteTextHintTitle")</strong> @Messages("misc.dialogs.deleteTextHint")</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button data-ng-click="godchildren.deleteSelectedGodchild()" type="button" class="btn btn-danger">Yes, delete</button>
              </div>
            </div>
          </div>
        </div>
    </div>
}