@(godchildForm: Form[Godchild])(implicit flash: Flash, lang: Lang)
@import helper._
@implicitField = @{ helper.FieldConstructor(bootstrapFieldConstructor.f) }


<fieldset>
<legend>@Messages("form.fatherdetails")</legend>
@helper.inputText(godchildForm("fatherFirstName"), 'class -> "form-control")
@helper.inputText(godchildForm("fatherLastName"), 'class -> "form-control")
@helper.inputText(godchildForm("fatherOccupation"), 'class -> "form-control")
</fieldset>
<fieldset>
<legend>@Messages("form.motherdetails")</legend>
@helper.inputText(godchildForm("motherFirstName"), 'class -> "form-control")
@helper.inputText(godchildForm("motherLastName"), 'class -> "form-control")
@helper.inputText(godchildForm("motherOccupation"), 'class -> "form-control")
</fieldset>